# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
venv/

# Ignore the Django settings file (if you have sensitive information)
server/settings.py

# Ignore database files (if you're using SQLite)
*.sqlite3

# Ignore static files collected during deployment
staticfiles/

# Ignore media files (user-uploaded content)
media/